<h1 mat-dialog-title style="color: red;"><mat-icon style="margin-right: 5px;">warning</mat-icon>Error</h1>
<div mat-dialog-content>
  <!-- {{data.message}} -->

  Something Wrong

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
</div>
