

<app-layout></app-layout>








<mat-card class="cardForm" style="margin-top: 20px;">

    <form #form="ngForm" name="registrationForm" autocomplete="off">

      <div class="container">

          <mat-form-field>
              <input matInput placeholder=" User Name"
                        name="tstUserName"
                        [(ngModel)]="credentials.userName"
                        #ngUserName="ngModel"
                        required
                        type="email">

              <mat-hint *ngIf="ngUserName.touched && !ngUserName.valid"><span style="color:red">{{ngUserName.errors | errorHint}}</span></mat-hint>
            </mat-form-field>

        <mat-form-field>
          <input matInput placeholder=" Email Address"
                    name="txtEmail"
                    [(ngModel)]="credentials.email"
                    #ngEmailAddress="ngModel"
                    required>

          <mat-hint *ngIf="ngEmailAddress.touched && !ngEmailAddress.valid"><span style="color:red">{{ngEmailAddress.errors | errorHint}}</span></mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password"
                          name="txtPassword"
                          type="password"
                          required
                          #ngPassword="ngModel"
                        [(ngModel)] = "credentials.password">
          <mat-hint *ngIf="ngPassword.touched && !ngPassword.valid"><span style="color: red;">{{ngPassword.errors | errorHint}}</span></mat-hint>
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="Confirm Password"
                            name="txtConfirmPassword"
                            type="password"
                            required
                            #ngConfirmPassword="ngModel"
                          [(ngModel)] = "confirmPassword">
            <mat-hint *ngIf="ngConfirmPassword.touched && !ngConfirmPassword.valid"><span style="color: red;">{{ngConfirmPassword.errors | errorHint}}</span></mat-hint>
          </mat-form-field>


        <div style="margin-top: 10px;">

          <button mat-raised-button (click)="createAccount()">Save</button>

        </div>


      </div>
    </form>

    </mat-card>






