


<app-layout></app-layout>



<div class="container" style="margin-left: 300px;">
    <table class="content-table" style="text-align: center;" >

        <tr>
            <td>User Name</td>
            <td>{{user?.userName}}</td>
        </tr>

        <tr>
            <td>Email Address</td>
            <td>{{user?.email}}</td>
        </tr>



    </table>
</div>
