<mat-toolbar color="primary" id="Nav">
  <mat-toolbar-row>
     <!-- <i class="material-icons">supervisor_account</i> -->
    <i class="material-icons">reorder</i>
    <span style="margin-left: 10px; margin-right: 10px; font-size:25px; font-weight: bold ">Login Task</span>

    <span style="margin-left: 510px; margin-right: 510px;"></span>

    <button  mat-icon-button [matMenuTriggerFor]="matActionMenu" >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #matActionMenu="matMenu">
      <button mat-menu-item [routerLink]="['/auth/']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button *ngIf="!authServ.isLoggedIn()" mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>sync</mat-icon>
        <span>Login</span>
      </button>

      <button *ngIf="!authServ.isLoggedIn()" mat-menu-item [routerLink]="['/auth/signUp']">
        <mat-icon>sync</mat-icon>
        <span>Register</span>
      </button>
      <button *ngIf="authServ.isLoggedIn()" mat-menu-item [routerLink]="['/auth/profile']">
        <mat-icon>person</mat-icon>
        <span>{{authServ.getUserDetails()?.userName}}</span>
      </button>
      <button *ngIf="authServ.isLoggedIn()" (click)="authServ.logout()" mat-menu-item [routerLink]="['/auth/']">
        <mat-icon>clear_all</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
