



<app-layout></app-layout>





<mat-card class="cardForm" style="margin-top: 20px;">

  <form #form="ngForm" name="loginForm">
    <div class="container">

      <mat-form-field>
        <input matInput placeholder=" Email Address"
                  name="txtEmail"
                  [(ngModel)]="credentials.email"
                  #ngEmailAddress="ngModel"
                  required
                  type="email">

        <mat-hint *ngIf="ngEmailAddress.touched && !ngEmailAddress.valid"><span style="color:red">{{ngEmailAddress.errors | errorHint}}</span></mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password"
                        name="txtPassword"
                        type="password"
                        required
                        #ngPassword="ngModel"
                      [(ngModel)] = "credentials.password">
        <mat-hint *ngIf="ngPassword.touched && !ngPassword.valid"><span style="color: red;">{{ngPassword.errors | errorHint}}</span></mat-hint>
      </mat-form-field>


      <div  style="margin-top: 10px;">

        <button mat-raised-button (click)="login()">Login</button>
        <span style="margin-left: 5px;"></span>
        <button mat-raised-button color="primary" [routerLink]="['/auth/signUp']">Sign Up</button>
      </div>


    </div>
  </form>

  </mat-card>






